<div class="sidebar__wrapper">
  <div class='page-title-section'>
    <h1 class='page-title'>
      <%= turbo_frame_tag :product_title do %><%= @product.name %><% end %>
    </h1>
  </div>
  <div class='a__box mb-3'>
    <p class='section-title mb-3'>Nom</p>
    <%= turbo_frame_tag :edit_product do %>
      <%= render 'admin/products/partials/edit_product_section' %>
    <% end %>
  </div>
  <div class='a__box mb-3'>
    <p class='section-title mb-3'>Taxes</p>
    <% @product.product_taxes.includes(:tax).each do |pt| %>
      <%= turbo_frame_tag dom_id(pt) do %>
        <%= "#{pt.tax.name} : #{pt.tax.rate} %" %>
        <%= link_to edit_product_tax_path(id: pt), method: :get, class: 'very-small-icons ml-4' do %>
          <%= svg 'icon_edit' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class='a__box mb-3'>
    <p class='section-title mb-3'>Attributs</p>
    <%= turbo_frame_tag :product_options_list do %>
      <%= render 'admin/product_options/partials/product_options_list' %>
    <% end %>
    <%= turbo_frame_tag :new_product_option %>
    <%= link_to 'Ajouter un attribut', new_product_product_option_path(@product), class: 'btn mt-3', method: :get %>
  </div>
  <div class='a__box'>
    <p class='section-title mb-3'>Variants</p>
    <%= turbo_frame_tag :product_variants, target: :_top do %>
      <%= render 'admin/product_variants/partials/load_index' %>
    <% end %>
    <%= link_to 'Ajouter un Variant', new_product_product_variant_path(@product), class: 'btn mt-3', method: :get %>
  </div>
</div>
<%= turbo_frame_tag :product_modal, target: '_top' %>
